/* color theme under: https://coolors.co/121212-1e1e1e-cccccc-9b5de5-c77dff-ffffff*/
/* svgs from https://simpleicons.org */
/* I want a global dark theme for my website, mixed with some purple. */

body{
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
background-color: #121212;
color: #ffffff;
}

/* styles for the links. */
a{
    color: #C77DFF;
    text-decoration: none;
}
a:hover{
    color: #E7C6FF;
}

/* Now we add the style of the navigation bar. */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(18, 18, 18, 0.75);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid #9B5DE5;

    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    z-index: 1000;

    box-shadow: 0 2px 10px rgba(155,93,229,0.3);
}

.navbar a {
    color: white;
    font-size: 1.1rem;
    transition: 0.2s;
}

.navbar a:hover {
    color: #C77DFF;
    text-shadow: 0 0 10px #9B5DE5;
}

main {
    padding: 6rem 2rem 2rem;
}

.card {
    background: #1E1E1E;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 12px;

    max-width: 800px;

    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.introbox h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #C77DFF;
}

.aboutCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.reverseAboutCard {
    flex-direction: row-reverse;
}

.cardTopImg {
    display: flex;
    flex-direction: column;
}

.aboutText {
    flex: 1;
}

.aboutImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(155,93,229,0.6);
    align-self: center;
}

.topImg Img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px 50px 30px;
    box-shadow: 0 0 10px rgba(155,93,229,0.6);
}

.circle span {
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
}

.langSkillFormat {
    margin-bottom: 5px;
    color: #ffffff;
}

.langBar {
    width: 100%;
    height: 18px;
    background: #1E1E1E;
    border-radius: 10px;
    overflow: hidden;
}

.langProgress {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #a56bfa, #d29bff);
    border-radius: 10px;
    animation: grow 1.8s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes grow {
    to {width: var(--w);}
}

.scrollAnimate {
    opacity: 0;
    animation: fadeSlideIn 1s ease-out both;
    animation-timeline: view(); /* tells animation when element is being seen */
    animation-range: entry 0% cover 40%; /* tells when to start */
}

@keyframes fadeSlideIn {
    from{
        opacity: 0;
        transform: translate(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.4rem;

    background: #9B5DE5;
    border-radius: 8px;

    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.button:hover {
    background: #C77DFF;
    box-shadow: 0 0 10px #C77DFF;
}

ul {
    margin-left: 1.5rem;
    color: #cccccc;
}

ul li::marker {
    color: #9B5DE5;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #9B5DE5;
    margin-top: 4rem;
    font-size: 0.9rem;
    color: #cccccc;
    background-color: #121212;
    box-shadow: 0 2px 10px rgba(155,93,229,0.3);
}

.socials {
    margin-top: 1rem;
}

.socialButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.socialButton img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.socialButton:hover{
    background-color: #C77DFF;
    box-shadow: 0 0 15px #C77DFF;
}

.socialButton:hover {
    transform: scale(1.4);
}